@model Portfolio
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manage/Views/Shared/_ManageLayout.cshtml";
}

<div class="container-fluid">
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Desc">Description</label>
                <input asp-for="Desc" class="form-control" placeholder="Description">
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-4">
                <label asp-for="Photo">Photo</label>
                <input asp-for="Photo" class="form-control" placeholder="Photo">
            </div>



        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>

